#entirePage {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.enterSite {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.enterSite img {
  align-items: center;
  width: 100%;
  padding-top: 30%;
}
.buttons {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}
.logIn button {
  background-color: orange;
  border: unset;
  border-radius: 2px;
  height: 2rem;
  width: 6rem;
}

.logIn button:hover {
  background: rgb(255, 181, 43);
  cursor: pointer;
}
.create button {
  background-color: orange;
  border: unset;
  border-radius: 2px;
  height: 2rem;
  width: 8rem;
}

.create button:hover {
  background: rgb(255, 181, 43);
  cursor: pointer;
}
