#entirePage {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.enterSite {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.enterSite img {
  
  align-items: center;
  width: 75%;
  padding-top: 30%;
}
.buttons{
  display: flex;
  flex-direction: row;
  }
  .logIn button{
    background-color:greenyellow;
    border-radius: 2px;
    height: 2rem;
    width: 6rem;
  }
  .create button{
    background-color:orange;
    border-radius: 2px;
    height: 2rem;
    width: 8rem;
  }
