#badgeList {
  margin: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#badgeContainer {
  text-align: center;
  border: 1px solid rgb(0, 63, 158);
  width: 18rem;
  margin: 1rem 1rem;
  border-radius: 10px;
  color: rgb(0, 63, 158);
  background-color: rgba(0, 63, 158, 0.11);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

#badgeContainer p {
  padding: 0 1rem;
}
