h1 {
  color: rgb(0, 63, 158);
}

#goalForm {
  background-color: white;
  margin-bottom: 4rem;
  padding: 1.5rem;
  border: 2px solid rgb(0, 63, 158);
  border-radius: 10px;
  width: 30rem;
}

#goalText {
  padding-top: 0;
  padding-bottom: 10px;
  width: 30rem;
  height: 5rem;
}

@media screen and (max-width: 600px) {
  #goalForm {
    width: 15rem;
  }
  #goalText {
    width: 15rem;
  }
}
