.side_nav {
  position: fixed;
  height: 200px;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  left: 0;
  width: 50%;
  max-width: 300px;
  z-index: 2;
}

.side_nav ul {
  height: 70%;
  padding-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

.side_nav ul li {
  padding: 0.3rem;
}

@media (min-width: 769px) {
  .side_nav {
    display: none;
  }
}
