.side-nav {  
  height: 180px;
  background: white;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  width: 50%;
  max-width: 300px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-nav.open {
  transform: translateX(0);
}

.side-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-nav ul li {
  padding: 0.3rem;
}

@media (min-width: 769px) {
  .side-nav {
    display: none;
  }
}
