@import url("https://fonts.googleapis.com/css?family=Raleway");

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background: #030b16;
  height: 60px;
}

.navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.logo img {
  max-height: 3rem;
  margin-left: 1rem;
}

.spacer {
  flex: 1;
}

.navbar_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar_items li {
  padding: 0 0.5rem;
}
.navbar_items a {
  text-decoration: none;
  color: rgb(225, 225, 225);
  transition: 0.5s ease;
  padding: 10px;
}

.navbar_items a:hover {
  border: 1px solid rgba(225, 225, 225);
  border-radius: 5px;
  padding: 9px;
  transition: 0.3s ease;
}

.navbar_items a:active {
  color: rgb(0, 63, 158);
}

@media (max-width: 768px) {
  .navbar_items {
    display: none;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
