@import url("https://fonts.googleapis.com/css?family=Merriweather|Raleway:300");

* {
  font-family: "Raleway", sans-serif;
}

/* Category Index*/
#category-index-container {
  color: rgb(225, 225, 225);
  background: radial-gradient(#081c38, #030b16);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.header {
  font-family: "Raleway", sans-serif;
  color: rgb(225, 225, 225);
  margin: 0;
  padding: 3rem 1rem;
}
.category-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.category-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.category-index-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-right: 1px solid rgba(61, 61, 61, 0.7);
}

.category-index-icon {
  font-size: 4rem;
  color: rgb(225, 225, 225);
}

.category-name {
  font-size: 18px;
  color: rgb(225, 225, 225);
}

.category-index-link:hover {
  background: #0b1e3d;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.7);
}

/* Category Details */
#category-details-page {
  color: rgb(225, 225, 225);
  background: radial-gradient(#081c38, #030b16);
}

.detailBody {
  padding: 2rem 5rem;
}

.detailName h2 {
  margin: 0;
}

/* Form Post */
#form-container {
  background: white;
  border-radius: 10px;
  max-width: 20rem;
}

#form-container h4 {
  color: black;
  margin: 0;
  padding: 1rem 0 0 1rem;
}

.form-buttons {
  display: flex;
  justify-content: center;
}

.form-buttons button {
  margin: 1rem;
}

.post-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.post-form input,
.post-form textarea,
.file-picker {
  margin: 0.5rem;
}

/* Category Details Post */
.postBody {
  margin: 2rem;
}

.post-list {
  list-style: none;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
}

#postDetails {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

#postDetails img {
  max-height: 5rem;
}

/* Badge Index */
#badge-index-container {
  background: radial-gradient(#081c38, #030b16);
  color: rgb(225, 225, 225);
  height: 60rem;
  width: 100vw;
}

#badge-index-container h1 {
  margin: 0;
  padding: 1rem 5rem;
}

.badge-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.badge-container {
  display: flex;
  height: 8rem;
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(225, 225, 225);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.badge-container:hover {
  background: #0b1e3d;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.badge-index-icon {
  font-size: 2rem;
  margin: auto;
}

.badge-index-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.badge-index-info h5,
.badge-index-info p {
  margin: 0;
  padding: 0;
}

.badge-index-info h5 {
  font-size: 1rem;
}
