body{
    background: rgb(176,219,247);
  background: linear-gradient(180deg, rgba(176,219,247,0.311659698058911) 1%, rgba(82,172,245,0.13967083415397408) 69%, rgba(81,148,128,0.558158297498687) 100%);
    background-size: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
}